body
{
	font-family: "Comic Sans Ms"
}
main
{
	width:100%;
}
header
{
	background-color: hotpink;
	width:100%:;
	height:100px;
	box-shadow: 12px 12px  black;
}
nav a
{
	text-decoration: none;
	color:white;
	display:block;
	float:left;
	width:30%
}
nav 
{
	padding-top:30px;
	width:100%;
	padding-left:3.33%
}
img
{
	width:200px;
}
body
{
	background-color: blue;
	color:lightgoldenrodyellow
}
